<section id="intro" class="intro-parallax">
  <div class="container">

    <rev1-header></rev1-header>

    <div class="row">


      <!--Sprint-->
      <div class="offer-container row offer-container-row">
        <div id="tmgPH_QuestionBank"></div>
        <div id="tmgPH_Offers"></div>
        <div id="mydiv">HERE</div>

      </div>

      <div class="text-center">
        <input class="bigbutton btn btn-primary" type="button" value="Continue" (click)="onContinue()">
      </div>

    </div>
  </div>
</section>

<rev1-footer></rev1-footer>