<section id="intro" class="intro-parallax">
  <div class="container">

    <rev1-header></rev1-header>

    <div class="row">

      <!-- Intro Section Description -->
      <div id="intro_description" class="col-sm-7 col-md-7" style="text-align: center;">

        <!-- Intro Section Title -->
        <h1 class="first"> YOU'RE AWESOME {{contact.firstname}} !!</h1>

      </div>
      <div class="intro_feature col-sm-7 col-md-7" style="text-align: center; margin-top: 5px;">
        <h4>
          An email will be sent to you shortly with instructions on completing your free registration. In the meantime, please help us get to know you by answer the following, simple YES-NO questions.
        </h4>
      </div>

      <!-- End Intro Section Description -->
      <div id="intro_form" class="col-sm-5 col-md-5">


      </div>
     
      <!--Debt.com-->
      <div class="offer-container row offer-container-row">
        <div id="inputDebtCom" class="col-md-7 col-xs-12 well offer-container-well">
          <div>
            <img src="../../../../assets/images/offers/providemedia/debtcom.png" />
          </div>
          <div class="offer-container-text">
            Slash Your Total Credit Card Payments by up to 30% to 50%! Yes, I have over $15,000 in credit card debt & would like a free consultation for becoming debt free.
          </div>
          <div class="offer-container-consent" id="divConsentCheckDebtcom" [hidden]="!debtCom.showConsent">
            <div>
              <label class="checkbox inline">
                <input type="checkbox" runat="server" id="chkConsentDebtcom" [(ngModel)]="debtCom.consentChecked" />
                I hereby consent to receive calls and/or text messages (using an automated dialing system or containing pre-recorded messaging) from Debt.com at the telephone number I provided above. I understand that consent is not a condition of purchase.
              </label>
            </div>
          </div>
          <div class="options-select-container">
            <div class="text-center">
              <img class="checkmark" src="../../../../assets/images/offers/greenCheckmark.png" *ngIf="debtComResponse.success" />
              <label class="radio inline opt-in">
                <input name="debtCom" id="optDebtComYes" type="radio" value="Yes" [(ngModel)]="debtCom.answer" (change)="provideMediaSelected(true, debtCom, debtComRequest, debtComResponse);" />Yes
              </label>
              <label class="radio inline opt-in">
                <input name="debtCom" id="optDebtComNo" class="" type="radio" value="No" [(ngModel)]="debtCom.answer" (change)="provideMediaSelected(false, debtCom, debtComRequest, debtComResponse);" />No
              </label>
            </div>
          </div>
          <div class="alert alert-danger" [hidden]="!debtCom.showUpdate">
            <label>The follow data is incorrect.</label>
            <div [hidden]="!debtComResponse.invalidPhone">
              <input class="form-control data-update-control" type="text" [(ngModel)]="contact.phone">
            </div>
            <div [hidden]="!debtComResponse.invalidAddress">
              <input class="form-control data-update-control" type="text" [(ngModel)]="contact.address">
              <span [hidden]="debtComResponse.message === null">{{debtComResponse.message}}</span>
            </div>
            <div [hidden]="!debtComResponse.invalidZip">
              <input class="form-control data-update-control" type="text" [(ngModel)]="contact.zip">
            </div>
            <input type="button" value="Update" (click)="provideMediaUpdateData(debtCom, debtComRequest, debtComResponse)">
            <!--{{debtComResponse | json}}-->
          </div>
        </div>
      </div>

      <!--Direct Energy-->
      <div class="offer-container row offer-container-row">
        <div id="inputDirectEnergy" class="col-md-7 col-xs-12 well offer-container-well">
          <div>
            <img src="../../../../assets/images/offers/providemedia/directEnergy.png" />
          </div>
          <div class="offer-container-text">
            Utility bills too high? Tired of seasonal price hikes in electricity or natural gas? Get price protection from utility rate increases with our fixed-rate plans! Find out if you qualify by checking YES!&nbsp;&nbsp;A representative of Direct Energy will contact you at the telephone number you provide by live sales calls, text messaging and/or pre-recorded messaging, which may use automated dialing equipment, to which you consent below. Consent for calls is not required as a condition to purchase. By completion and submission of this form, you confirm you are at least 21 years old and are authorized to provide this consent.<a href="http://www.termspm.com/camps/504_PrivacyPolicy.html" target="_blank">Privacy Policy</a>.
          </div>
          <div class="offer-container-consent" id="divConsentCheckDirectEnergy" [hidden]="!directEnergy.showConsent">
            <div>
              <label class="checkbox inline">
                <input type="checkbox" runat="server" id="chkConsentdirectEnergy" [(ngModel)]="directEnergy.consentChecked" />
                A representative of Direct Energy will contact you at the telephone number you provide by live sales calls, text messaging and/or pre-recorded messaging, which may use automated dialing equipment, to which you consent below. Consent for calls is not required as a condition to purchase. By completion and submission of this form, you confirm you are at least 21 years old and are authorized to provide this consent. <a href="http://www.termspm.com/camps/504_PrivacyPolicy.html" target="_blank">Privacy Policy</a>
              </label>
            </div>
          </div>
          <div class="options-select-container">
            <div class="text-center">
              <img class="checkmark" src="../../../../assets/images/offers/greenCheckmark.png" *ngIf="directEnergyResponse.success" />
              <label class="radio inline opt-in">
                <input name="directEnergy" id="optdirectEnergyYes" type="radio" value="Yes" [(ngModel)]="directEnergy.answer" (change)="provideMediaSelected(true, directEnergy, directEnergyRequest, directEnergyResponse);" />Yes
              </label>
              <label class="radio inline opt-in">
                <input name="directEnergy" id="optdirectEnergyNo" class="" type="radio" value="No" [(ngModel)]="directEnergy.answer" (change)="provideMediaSelected(false, directEnergy, directEnergyRequest, directEnergyResponse);" />No
              </label>
            </div>
          </div>
          <div class="alert alert-danger" [hidden]="!directEnergy.showUpdate">
            <label>The follow data is incorrect.</label>
            <div [hidden]="!directEnergyResponse.invalidPhone">
              <input class="form-control data-update-control" type="text" [(ngModel)]="contact.phone">
            </div>
            <div [hidden]="!directEnergyResponse.invalidAddress">
              <input class="form-control data-update-control" type="text" [(ngModel)]="contact.address">
              <span [hidden]="directEnergyResponse.message === null">{{directEnergyResponse.message}}</span>
            </div>
            <div [hidden]="!directEnergyResponse.invalidZip">
              <input class="form-control data-update-control" type="text" [(ngModel)]="contact.zip">
            </div>
            <input type="button" value="Update" (click)="provideMediaUpdateData(directEnergy, directEnergyRequest, directEnergyResponse)">
          </div>
        </div>
      </div>


      <!--Taxotere-->
      <div class="offer-container row offer-container-row">
        <div id="inputTaxotere" class="col-md-7 col-xs-12 well offer-container-well">
          <form #taxotereform="ngForm"  id="taxotereform" name="taxotereform" class="row" novalidate>
            <div>
              <img src="../../../../assets/images/offers/engageiq/sticker-green-free-case-study.png" />
            </div>
            <div class="offer-container-text">
              <b>If you or a loved one has taken TAXOTERE and developed permanent hair loss, you may be entitled to a financial compensation. </b>
              <br />
              Taxotere is a cancer drug approved by the US FDA. While the drug is effective, a troubling side effect has been emerging in recent years. Sign up below to learn more details, and your options.
            </div>

            <div class="offer-container-consent" id="divConsentCheckTaxotere" [hidden]="!taxotere.showQuestions">
              <div>
                1. Were you or a loved one diagnosed with permanent baldness (Alopecia) shortly after the treatments?
                <div class="options-select-container">
                  <div class="text-center">
                    <label class="radio inline opt-in">
                      <input name="taxotereQ1" id="optTaxotereQ1Yes" type="radio" value="Yes" [(ngModel)]="taxotereRequest.q1" #taxotereQ1="ngModel" required />Yes
                    </label>
                    <label class="radio inline opt-in">
                      <input name="taxotereQ1" id="optTaxotereQ1No" class="" type="radio" value="No" [(ngModel)]="taxotereRequest.q1" #taxotereQ1="ngModel" />No
                    </label>
                  </div>
                </div>
                <div class="alert alert-danger" [hidden]="!taxotere.validationOn || taxotereQ1.valid">This question is required</div>
              </div>
              <div>
                2. Have you consulted with an attorney on this case?
                <div class="options-select-container">
                  <div class="text-center">
                    <label class="radio inline opt-in">
                      <input name="taxotereQ2" id="optTaxotereQ2Yes" type="radio" value="Yes" [(ngModel)]="taxotereRequest.q2" #taxotereQ2="ngModel" required />Yes
                    </label>
                    <label class="radio inline opt-in">
                      <input name="taxotereQ2" id="optTaxotereQ2No" class="" type="radio" value="No" [(ngModel)]="taxotereRequest.q2" #taxotereQ2="ngModel" />No
                    </label>
                  </div>
                </div>
                <div class="alert alert-danger" [hidden]="!taxotere.validationOn || taxotereQ2.valid">This question is required</div>
              </div>
              <div class="fine-print">
                By clicking Yes, you agree that law firms you are matched with may contact you by telephone, automated dialer, SMS Text and email even if you are on a federal or State Do Not Call Registry or the phone number provided is a cell phone. You may also be contacted by ProLegal Justice lead verification service to confirm the accuracy or completeness of the information you submit. Your consent herein does not require a purchase and is solely a request for information.
              </div>
            </div>
            <div class="options-select-container">
              <div class="text-center">
                <img class="checkmark" src="../../../../assets/images/offers/greenCheckmark.png" *ngIf="taxotereResponse.success" />
                <label class="radio inline opt-in">
                  <input name="taxotere" id="optTaxotereYes" type="radio" value="Yes" [(ngModel)]="taxotere.answer" (change)="engageIqSelected(true, taxotere, taxotereRequest, taxotereResponse, taxotereform, $event);" />Yes
                </label>
                <label class="radio inline opt-in">
                  <input name="taxotere" id="optTaxotereNo" class="" type="radio" value="No" [(ngModel)]="taxotere.answer" (change)="engageIqSelected(false, taxotere, taxotereRequest, taxotereResponse, taxotereform, $event);" />No
                </label>
                <!--<input name="taxotere" id="optTaxotereNone" class="" type="radio" value="" [(ngModel)]="taxotere.answer" [hidden]="true" />-->
              </div>
            </div>

          </form>
          <div class="alert alert-danger" [hidden]="!taxotere.showUpdate">
            <label>Please correct your zip code.</label>
            <div [hidden]="!taxotereResponse.invalidZip">
              <input class="form-control data-update-control" type="text" [(ngModel)]="contact.zip">
            </div>
            <input type="button" value="Update" (click)="engageiqPostData(taxotere, taxotereRequest, taxotereResponse)">
          </div>
        </div>
      </div>
      
      <!--Railroad Cancer-->
    <div class="offer-container row offer-container-row">
      <div id="inputRailroadCancer" class="col-md-7 col-xs-12 well offer-container-well">
        <form #railroadCancerform="ngForm"  id="railroadCancerform" name="railroadCancerform" class="row" novalidate>
          <div>
            <img src="../../../../assets/images/offers/engageiq/legal6.png" />
          </div>
          <div class="offer-container-text">
            <b>Were you or a loved one diagnosed with any of the following cancers after working on a railroad for at least five years? </b>
          </div>
          <div class="offer-container-consent" id="divConsentCheckRailroadCancer" [hidden]="!railroadCancer.showQuestions">
            <div>
              1.Did you or a family member work on a railroad and were diagnosed with cancer? 
              <div class="options-select-container">
                <div class="text-center">
                  <label class="radio inline opt-in">
                    <input name="railroadCancerQ1" id="optRailroadCancerQ1Yes" type="radio" value="Yes" [(ngModel)]="railroadCancerRequest.q1" #railroadCancerQ1="ngModel" required />Yes
                  </label>
                  <label class="radio inline opt-in">
                    <input name="railroadCancerQ1" id="optRailroadCancerQ1No" class="" type="radio" value="No" [(ngModel)]="railroadCancerRequest.q1" #railroadCancerQ1="ngModel" />No
                  </label>
                </div>
              </div>
              <div class="alert alert-danger" [hidden]="!railroadCancer.validationOn || railroadCancerQ1.valid">This question is required</div>
            </div>
            
            <div class="fine-print">
              By clicking Yes, you agree that law firms you are matched with may contact you by telephone, automated dialer, SMS Text and email even if you are on a federal or State Do Not Call Registry or the phone number provided is a cell phone. You may also be contacted by ProLegal Justice lead verification service to confirm the accuracy or completeness of the information you submit. Your consent herein does not require a purchase and is solely a request for information.
            </div>
          </div>
          <div class="options-select-container">
            <div class="text-center">
              <img class="checkmark" src="../../../../assets/images/offers/greenCheckmark.png" *ngIf="railroadCancerResponse.success" />
              <label class="radio inline opt-in">
                <input name="railroadCancer" id="optRailroadCancerYes" type="radio" value="Yes" [(ngModel)]="railroadCancer.answer" (change)="engageIqSelected(true, railroadCancer, railroadCancerRequest, railroadCancerResponse, railroadCancerform, $event);" />Yes
              </label>
              <label class="radio inline opt-in">
                <input name="railroadCancer" id="optRailroadCancerNo" class="" type="radio" value="No" [(ngModel)]="railroadCancer.answer" (change)="engageIqSelected(false, railroadCancer, railroadCancerRequest, railroadCancerResponse, railroadCancerform, $event);" />No
              </label>
              <!--<input name="railroadCancer" id="optRailroadCancerNone" class="" type="radio" value="" [(ngModel)]="railroadCancer.answer" [hidden]="true" />-->
            </div>
          </div>

        </form>
        <div class="alert alert-danger" [hidden]="!railroadCancer.showUpdate">
          <label>Please correct your zip code.</label>
          <div [hidden]="!railroadCancerResponse.invalidZip">
            <input class="form-control data-update-control" type="text" [(ngModel)]="contact.zip">
          </div>
          <input type="button" value="Update" (click)="engageiqPostData(railroadCancer, railroadCancerRequest, railroadCancerResponse)">
        </div>
      </div>
    </div>
      
      <!--Hernia Mesh-->
    <div class="offer-container row offer-container-row">
      <div id="inputHerniaMesh" class="col-md-7 col-xs-12 well offer-container-well">
        <form #herniaMeshform="ngForm"  id="herniaMeshform" name="herniaMeshform" class="row" novalidate>
          <div>
            <img src="../../../../assets/images/offers/engageiq/ciyqblue.png" />
          </div>
          <div class="offer-container-text">
            <b>If you or your loved ones have experienced complications due to hernia Mesh, you may be entitled for compensation.</b>
            <br />
            Receive a FREE call from a representative to evaluate if you qualify. 
          </div>
          <div>
            <b>Please fill out the form below:</b>
          </div>
          <div class="offer-container-consent" id="divConsentCheckherniaMesh" [hidden]="!herniaMesh.showQuestions">
            <div>
              1. Did you have a hernia Mesh Surgery? 
              <div class="options-select-container">
                <div class="text-center">
                  <label class="radio inline opt-in">
                    <input name="herniaMeshQ1" id="optHerniaMeshQ1Yes" type="radio" value="Yes" [(ngModel)]="herniaMeshRequest.q1" #herniaMeshQ1="ngModel" required />Yes
                  </label>
                  <label class="radio inline opt-in">
                    <input name="herniaMeshQ1" id="optHerniaMeshQ1No" class="" type="radio" value="No" [(ngModel)]="herniaMeshRequest.q1" #herniaMeshQ1="ngModel" />No
                  </label>
                </div>
              </div>
              <div class="alert alert-danger" [hidden]="!herniaMesh.validationOn || herniaMeshQ1.valid">This question is required</div>
            </div>
            
            <div>
              2. Did you have a hernia Mesh Surgery?
              <div class="options-select-container">
                <div class="text-center">
                  <label class="radio inline" style="padding-left: 86px">
                    <input name="herniaMeshQ2" id="optHerniaMeshQ2Yes" type="radio" value="2003" [(ngModel)]="herniaMeshRequest.q2" #herniaMeshQ2="ngModel" required />Before January 2004
                  </label>
                  <label class="radio inline" style="padding-left: 8px">
                    <input name="herniaMeshQ2" id="optHerniaMeshQ2No" class="" type="radio" value="2004" [(ngModel)]="herniaMeshRequest.q2" #herniaMeshQ2="ngModel" />2004 or later
                  </label>
                </div>
              </div>
              <div class="alert alert-danger" [hidden]="!herniaMesh.validationOn || herniaMeshQ2.valid">This question is required</div>
            </div>

            <div>
              3.Was there a Revision (replaced or removed) Surgery? 
              <div class="options-select-container">
                <div class="text-center">
                  <label class="radio inline opt-in">
                    <input name="herniaMeshQ3" id="optHerniaMeshQ3Yes" type="radio" value="Yes" [(ngModel)]="herniaMeshRequest.q3" #herniaMeshQ3="ngModel" required />Yes
                  </label>
                  <label class="radio inline opt-in">
                    <input name="herniaMeshQ3" id="optHerniaMeshQ3No" class="" type="radio" value="No" [(ngModel)]="herniaMeshRequest.q3" #herniaMeshQ3="ngModel" />No
                  </label>
                </div>
              </div>
              <div class="alert alert-danger" [hidden]="!herniaMesh.validationOn || herniaMeshQ3.valid">This question is required</div>
            </div>
            <div>
              4.Are you currently represented by an attorney? 
              <div class="options-select-container">
                <div class="text-center">
                  <label class="radio inline opt-in">
                    <input name="herniaMeshQ4" id="optHerniaMeshQ4Yes" type="radio" value="1" [(ngModel)]="herniaMeshRequest.q4" #herniaMeshQ4="ngModel" required />Yes
                  </label>
                  <label class="radio inline opt-in">
                    <input name="herniaMeshQ4" id="optHerniaMeshQ4No" class="" type="radio" value="0" [(ngModel)]="herniaMeshRequest.q4" #herniaMeshQ4="ngModel" />No
                  </label>
                </div>
              </div>
              <div class="alert alert-danger" [hidden]="!herniaMesh.validationOn || herniaMeshQ4.valid">This question is required</div>
            </div>
            <div class="fine-print">
              By clicking Yes, you agree that law firms you are matched with may contact you by telephone, automated dialer, SMS Text and email even if you are on a federal or State Do Not Call Registry or the phone number provided is a cell phone. You may also be contacted by ProLegal Justice lead verification service to confirm the accuracy or completeness of the information you submit. Your consent herein does not require a purchase and is solely a request for information.
            </div>
          </div>
          <div class="options-select-container">
            <div class="text-center">
              <img class="checkmark" src="../../../../assets/images/offers/greenCheckmark.png" *ngIf="herniaMeshResponse.success" />
              <label class="radio inline opt-in">
                <input name="herniaMesh" id="optHerniaMeshYes" type="radio" value="Yes" [(ngModel)]="herniaMesh.answer" (change)="engageIqSelected(true, herniaMesh, herniaMeshRequest, herniaMeshResponse, herniaMeshform, $event);" />Yes
              </label>
              <label class="radio inline opt-in">
                <input name="herniaMesh" id="optHerniaMeshNo" class="" type="radio" value="No" [(ngModel)]="herniaMesh.answer" (change)="engageIqSelected(false, herniaMesh, herniaMeshRequest, herniaMeshResponse, herniaMeshform, $event);" />No
              </label>
              <!--<input name="herniaMesh" id="optHerniaMeshNone" class="" type="radio" value="" [(ngModel)]="herniaMesh.answer" [hidden]="true" />-->
            </div>
          </div>

        </form>
        <div class="alert alert-danger" [hidden]="!herniaMesh.showUpdate">
          <label>Please correct your zip code.</label>
          <div [hidden]="!herniaMeshResponse.invalidZip">
            <input class="form-control data-update-control" type="text" [(ngModel)]="contact.zip">
          </div>
          <input type="button" value="Update" (click)="engageiqPostData(herniaMesh, herniaMeshRequest, herniaMeshResponse)">
        </div>
      </div>
    </div>
    </div>
  </div>
</section>

<rev1-footer></rev1-footer>