<footer id="footer">
    <div class="container">
        <div class="row">

            <!-- Footer Navigation Menu -->
            <div id="footer_nav" class="col-sm-6 col-md-4">
                <ul class="footer-nav clearfix">
                    <li><a href="http://www.cashbackresearch.com/contact.htm">Help</a></li>
                    <li><a href="http://www.cashbackresearch.com/login.asp">Login</a></li>
                    <li><a href="http://www.cashbackresearch.com/terms.htm">Terms</a></li>
                    <li><a href="http://www.cashbackresearch.com/privacy.htm">Privacy</a></li>
                </ul>
                <div id="footer_copy">
                    <p>&copy; Copyright 2017 Cashback Research </p>
                </div>
            </div>
            <!-- End Footer Navigation Menu -->
            <!-- Footer Social Icons -->
            <div id="footer_icons" class="col-sm-6 col-md-4 text-center">
                <ul class="footer-socials clearfix">
                    <li><a class="foo_social ico-facebook" href="https://www.facebook.com/CashbackResearch"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="foo_social ico-twitter" href="https://twitter.com/CashbackResearc"><i class="fa fa-twitter"></i></a></li>
                    <li class="phone">Phone: 888-408-0470</li>
                </ul>
            </div>
            <!-- End Footer Social Icons -->


        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</footer>