<section id="intro" class="intro-parallax">
    <div class="container">

        <rev1-header></rev1-header>

        <div class="row">

            <!-- Intro Section Description -->
            <div id="intro_description" class="col-sm-7 col-md-7" style="text-align: center;">

                <!-- Intro Section Title -->
                <h1 class="first">Welcome to Cashback Research</h1>

            </div>
            <div class="intro_feature col-sm-7 col-md-7" style="text-align: center; margin-top: 5px;">
                <h4>
                    In order to find the best ways for you to earn<br />
                    we need to know a little bit about you.
                </h4>
            </div>
            <form id="form1" runat="server">
                <div class="text-center col-sm-7 col-md-7" style="margin-top: 25px;">
                    <input class="bigbutton btn btn-primary" type="submit" value="OK. I'M IN!" (click)="onSubmit()">
                </div>
            </form>
            <!-- End Intro Section Description -->


        </div>
    </div>
</section>

<rev1-footer></rev1-footer>