<header id="header">
    <div class="row">
        <!-- Logo Image -->
        <div id="logo_image" class="col-xs-6">
            <a href="#intro">
                <img src="../../assets/images/cbr-small-logo.png" alt="logo" role="banner">
            </a>
        </div>
        <!-- Header Social Icons -->
        <div id="social_icons" class="col-xs-6 text-right">
            <ul class="social-icons clearfix">
                <li><a class="he_social ico-facebook" href="https://www.facebook.com/CashbackResearch"><i class="fa fa-facebook"></i></a></li>
                <li><a class="he_social ico-twitter" href="https://twitter.com/CashbackResearc"><i class="fa fa-twitter"></i></a></li>
                <li class="phone">
                    Phone: 888-408-0470<br>
                    <a href="http://www.cashbackresearch.com/login.asp">
                        <span class="style1">Member Login</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</header>