<div>
    <div class="row">
        <div class="col-xs-2">
            <input type="text" [(ngModel)]="email" class="form-control" placeholder="email"/>
        </div>
        <div class="col-xs-2">
            <input type="text" [(ngModel)]="offerId" class="form-control" placeholder="OfferId" />
        </div>
    </div>
    <div>
        <input type="button" class="btn-success" value="Enter" (click)="onClick()"/>
    </div>
</div>
<router-outlet name="rev1Outlet"></router-outlet>


<!--<script-hack type="text/javascript">alert('hi');</script-hack>-->