<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SurveyRouter.Distributor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="GloshareContext" connectionString="data source=localhost;initial catalog=Gloshare;persist security info=True;user id=gloshare;password=Glo09*SkiSteamBDB;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="GloshareContext" connectionString="data source=108.166.6.192;initial catalog=Gloshare;persist security info=True;user id=gloshare;password=Glo09*SkiSteamBDB;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="BaseApiUrl" value="http://devmapi.cashbackresearch.com/" />-->
    <add key="BaseApiUrl" value="http://mapi.cashbackresearch.com/" />

    <add key="RunDaysInterval" value="1" />
    <!--<add key="DailySurveysLink" value="http://devm.cashbackresearch.com/mysurveys?ug=" />-->
    <add key="DailySurveysLink" value="http://m.cashbackresearch.com/mysurveys?ug=" />
    <add key="YourSurveysSecretKey" value="0f75db394bd25ea21977e147a527be5e" />
    <!--these settings go with the SurveryRouterEmail integration-->
    <add key="ListrakClientID" value="ODIwMWQ1YjAxMmFkNDAxODhkYTQ5ODU4MGY3M2ZiZWY" />
    <add key="ListrakClientSecret" value="fagycNquYSHheGUdZk1mmmOhK6pHu8vgpW3tp0GNlq8" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <SurveyRouter.Distributor.Properties.Settings>
      <setting name="SafetyHours" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="UserLoadDaysInterval" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="MaxEmailsSent" serializeAs="String">
        <value>50</value>
      </setting>
    </SurveyRouter.Distributor.Properties.Settings>
  </applicationSettings>
</configuration>